@import "tailwindcss";

@source "../**/*.html";

@font-face {
    font-family: 'GrifterBold';
    src: url('../assets/fonts/grifterbold.otf') format('opentype');
    font-weight: 700;
    font-style: bold;
}

@layer base {
    body {
        font-family: 'Poppins', sans-serif;
    }
}

@layer utilities {
    .font-grifter {
        font-family: 'GrifterBold', 'Poppins', sans-serif;
        font-weight: 700;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}